{% block class %}bk-pt-default{% endblock %}
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-defaultpage">

    <div class="page-title">
        {{widget('pagetitle', 'title', {})|raw}}
    </div>

    <!-- Page Content -->
    <section class="zone-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

</div>

{% endblock %}
