{# Copyright 2014 BaseKit Platform Ltd #}
{% block class %}bk-pt-default{% endblock %}
{% extends "layout.twig" %}

{% block content %}

    <!-- Page Content -->
    <section class="zone-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

{% endblock %}
