{% extends "layout.twig" %}
{% block class %}bk-pt-ecomproduct{% endblock %}
{% block content %}

<section class="page  page--product">

    <!-- Zone Content -->
    <div class="zone-content">

        <div class="container">
            <!-- Main Widet Zone -->
            {{zone('main')|raw}}
        </div>
    </div>
    <!-- End Zone Content -->

</section>


{% endblock %}
